
<div class="container">
<img  src="../emberimg.png" style="height:100px ; width:100px; float:right;" alt="">
<h2>{{@title}}</h2>
<br>
<h6>{{@content}}</h6>
<br>
<button type="button" class="btn btn-primary">
    <LinkTo class="link" @route={{@routename}}>{{@button}}</LinkTo> 
</button>

</div>

