<nav class="navbar" id="menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <LinkTo class="link" @route="index">
                <h1>SUPER RENTALS</h1>
            </LinkTo>
        </div>
        <div class="float-right; link">
             <LinkTo class="link" @route="about">About</LinkTo> |
             <LinkTo class="link" @route="contact">Contact</LinkTo>
        </div>
    </div>
</nav>